<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= wine.name%></title>

</head>

<body>
   <div>
    <h1><%= wine.name%></h1>
    <div>
        <a href="/<%=wine._id%>/inputWineReview">
            Got an opinion?
        </a>
        <br>
        <br>
    </div>
    <%for(let review of reviews){%>
        <a href="/<%=wine._id%>/<%=review._id%>">
            <li><%= review.mString%> </li>
        </a>
    <%}%> 
    <h1><%= reviews.name%></h1>
   </div> 
</body>
</html>

